<%= form_with(model: animal_type, class: "contents") do |form| %>
  <% if animal_type.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(animal_type.errors.count, "error") %> prohibited this animal_type from being saved:</h2>

      <ul>
        <% animal_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "input_text_field" %>
  </div>

  <div class="inline">
    <%= form.submit t('forms.buttons.submit'), class: "primary_button" %>
  </div>
<% end %>
