<%= turbo_frame_tag 'animal_types' do %>
  <div class="min-w-full">
    <table class="mi_table" id="desk-table">
      <thead class="border border-l-0 border-r-0 border-gray-750">
        <tr>
          <th class="header_th"><%= t('activerecord.attributes.animal_type.name') %></th>
          <th class="header_th"><%= t('forms.buttons.edit') %></th>
          <th class="header_th"><%= t('forms.buttons.delete') %></th>
        </tr>
      </thead>
      <tbody>
        <% @animal_types.each do |animal_type| %>
          <rt>
            <td class="mi_tbody_td">
              <%= animal_type.name %>
            </td>
            <td class="mi_tbody_td">
              <%= link_to edit_animal_type_path(animal_type), data: { turbo_frame: "_top" }, aria: { label: "#{dom_id(animal_type)}_edit" } do%>
                <i class="fa fa-pencil text-950"></i>
              <% end %>
            </td>
            <td class="mi_tbody_td">
              <%= link_to animal_type_path(animal_type), data: { turbo_confirm: t('text.Are you sure?'), turbo_method: :delete}, aria: { label: "#{dom_id(animal_type)}_delete" }  do %>
                <i class="fa fa-trash-can text-red-950"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
