<%= form_with(model: procedure_type, class: "contents") do |form| %>
  <% if procedure_type.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(procedure_type.errors.count, "error") %> prohibited this procedure_type from being saved:</h2>

      <ul>
        <% procedure_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_field :description, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit t('forms.buttons.submit'), class: "primary_button" %>
  </div>
  <%= link_to procedure_types_path do %>
    <span class="tertiary_button"><%= t('forms.buttons.cancel') %>
      <i class="fa fa-times" aria-hidden="true"></i>
    </span>
  <% end %>
<% end %>
