<%= turbo_frame_tag 'procedure_types' do %>
  <div class="min-w-full">
    <table class="mi_table">
      <thead class="border border-l-0 border-r-0 border-gray-750">
        <tr>
          <th class="header_th"><%= t('activerecord.attributes.procedure_type.name') %></th>
          <th class="header_th"><%= t('activerecord.attributes.procedure_type.description') %></th>
          <th class="header_th"><%= t('forms.buttons.edit') %></th>
          <th class="header_th"><%= t('forms.buttons.delete') %></th>
        </tr>
      </thead>
      <tbody>
        <% @procedure_types.each do |procedure_type| %>
          <rt>
            <td class="mi_tbody_td">
              <%= procedure_type.name %>
            </td>
            <td class="mi_tbody_td">
              <%= procedure_type.description %>
            </td>
            <td class="mi_tbody_td">
              <%= link_to edit_procedure_type_path(procedure_type), data: { turbo_frame: "_top" }, aria: { label: "#{dom_id(procedure_type)}_edit" } do%>
              <i class="fa fa-pencil text-950"></i>
              <% end %>
            </td>
            <td class="mi_tbody_td">
              <% if procedure_type.id == 1 %>
                <%= t('text.The default procedure cannot be removed') %>
              <% else %>
                <%= link_to procedure_type_path(procedure_type), data: { turbo_confirm: t('text.Are you sure?'), turbo_method: :delete}, aria: { label: "#{dom_id(procedure_type)}_delete" }  do %>
                  <i class="fa fa-trash-can text-red-950"></i>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
