<%= turbo_frame_tag "add_to_enclosure" do %>
  <h2 class="mt-4"><%= t('text.Add To Enclosure') %></h2>
  <%= form_with url: add_to_aviary_path, data: { controller: "animal" } do |form1| %>

    <%= form1.hidden_field :cart_id, value: @cart.id %>
    
    <div class="my-4">
      <%= label_tag :aviary_id, t('activerecord.attributes.animal.aviary_id') %>
      <%= select_tag "aviary_id", options_for_select(@aviaries), include_blank: "#{t('text.Select')} ...", required: true, class: "input_text_field", "data-action": "change->animal#getSections", "data-animal-target": "aviary_select" %>
    </div>
    <div class="hidden mb-4" data-animal-target="show_sections">
      <%= form1.label :section_id, t('activerecord.attributes.animal.section_id') %>
      <%= form1.collection_select :section_id, @sections, :id, :name, { include_blank: "#{t('text.Select')} ..." }, { "data-animal-target": "section", class: "input_text_field" } %>
    </div>

    <div class="inline">
      <% if @cart.cart_animals.count > 0 %>
        <%= form1.submit t('forms.buttons.submit'), class: "primary_button" %>
      <% end %>
    </div>
  <% end %>
<% end %>
