<%= turbo_frame_tag "procedure_ids" do %>
  <h1>Medical Orders</h1>
  <%= form_with(url: add_medical_procedure_path, class: "contents") do |form| %>

    <%= form.hidden_field :cart_id, value: @cart.id %>
    
    <div class="my-5">
      <%= label_tag :procedure_type_id %>
      <%= select_tag "procedure_type_id", options_for_select(@procedures), include_blank: "Select ...", class: "input_text_field" %>
    </div>

    <div class="my-5">
      <%= label_tag :date_planned %>
      
      <%= text_field_tag :date_planned, 'Select ...',
          data: {
          controller: "flatpickr",
          flatpickr_date_format: "Y-m-d",
          flatpickr_min_date: Date.today
          }, class: "input_text_field" %>
    </div>

    <div class="inline">
      <%= form.submit t('forms.buttons.submit'), class: "primary_button" %>
    </div>
  <% end %>
<% end %>
