<%= form_with(model: medical_procedure, class: "contents",
data: { controller: 'animals',
          autosubmit_target: "form",
          turbo_frame: "animal-names",
          action: "animals#submitForm",
          }) do |form| %>
  <% if medical_procedure.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
    <p class="text-lg"><%= t('error', count: medical_procedure.errors.count) %> <%= t('forms.messages.prohibited this record from being saved') %>:</p>

      <ul>
        <% medical_procedure.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if medical_procedure.persisted? %>
    <div class="my-5 body-lg-bold-text">
      <%= medical_procedure.animal.display_name %>
    </div>
  <% else %>
    <div class="my-5 flex justify-between items-end">
      <div>
        <%= form.label :animal_ids, t('label.Nickname (Select Multiple)') %>
      </div>
      <div class="display inline">
        <label for="sort" class="fancy_label"><%= t('label.sort') %></label>
        <%= select_tag "sort", options_for_select(fields_to_sort_animals, selected: @sort_by), include_blank: "#{t('text.Select')} ..." , value: "0", class: "filter_select",
          "data-animals-target": "sort_by", :"data-action" => "animals#sortAnimals" %>
      </div>

    </div>
    <%= render 'scrollable_frame' %>
    <div class="error_text mt-2" id="checkbox_error"></div>
  <% end %>

  <div class="my-5">
    <%= form.label :procedure_type_id %>
    <%= form.collection_select(:procedure_type_id, procedure_types, :id, :name, { include_blank: "#{t('text.Select')} ...", required: true }, { class: "input_text_field" }) %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_field :description, class: "input_text_field" %>
  </div>

  <div class="my-5">
    <%= form.label :date_planned %>
    <%= form.text_field :date_planned,
          class: "input_text_field",
          required: true,
          placeholder: "DD-MM-YYYY",
          value: @date_planned.present? ? @date_planned.strftime("%d-%m-%Y") : nil,
          data: {
            controller: "flatpickr",
            flatpickr_date_format_value: "d-m-Y",
            flatpickr_alt_input: false, 
            required: true
          }, "data-animals-target": "date_planned" %>
  </div>
  <div class="error_text mt-2" id="date_planned_error"></div>

  <div class="my-5">
    <%= form.label :date_completed %>
    <%= form.text_field :date_completed,
          class: "input_text_field",
          placeholder: "DD-MM-YYYY",
          value: medical_procedure.date_completed.present? ? medical_procedure.date_completed.strftime("%d-%m-%Y") : nil,
          data: {
            controller: "flatpickr",
            flatpickr_date_format_value: "d-m-Y",
            flatpickr_alt_input: false
          } %>
  </div>
  <%= hidden_field_tag 'return_to_animal', return_to_animal %>
  <%= hidden_field_tag 'return_to_calendar', params[:return_to_calendar] %>

  <div class="inline">
    <% if return_to_animal.present? %>
      <% if medical_procedure.persisted? %>
        <%= form.submit t('forms.buttons.update'), class: "primary_button" %>
      <% else %>
        <%= form.submit t('forms.buttons.add'), class: "primary_button" %>
      <% end %>
      <%= link_to animal_path(animal) do %>
        <span class="tertiary_button"><%= t('forms.buttons.cancel') %>
          <i class="fa fa-times" aria-hidden="true"></i>
        </span>
      <% end %>
    <% else %>
      <% if medical_procedure.persisted? %>
        <%= form.submit t('forms.buttons.update'), class: "primary_button" %>
      <% else %>
        <%= form.submit t('forms.buttons.submit'), class: "primary_button" %>
      <% end %>
      <%= link_to medical_procedures_path do %>
        <span class="tertiary_button"><%= t('forms.buttons.cancel') %>
          <i class="fa fa-times" aria-hidden="true"></i>
        </span>
      <% end %>
    <% end %>
  </div>
<% end %>
