<%= form_with(model: medical_procedure, class: "contents") do |form| %>
  <% if medical_procedure.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(medical_procedure.errors.count, "error") %> prohibited this medical_procedure from being saved:</h2>

      <ul>
        <% medical_procedure.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :animal_id %>
    <%= form.collection_select(:animal_id, @animals, :id, :nickname, { include_blank: "Select ...", required: true }, { class: "input_text_field" }) %>
  </div>

  <div class="my-5">
    <%= form.label :procedure_type_id %>
    <%= form.collection_select(:procedure_type_id, @procedures, :id, :name, { include_blank: "Select ...", required: true }, { class: "input_text_field" }) %>
  </div>

  <div class="my-5">
    <%= form.label :date_planned %>
    <%= form.date_field :date_planned, class: "input_text_field" %>
  </div>

  <div class="my-5">
    <%= form.label :complete %>
    <%= form.checkbox :complete, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :date_complete %>
    <%= form.date_field :date_complete, class: "input_text_field" %>
  </div>

  <div class="my-5">
    <%= form.label :notes %>
    <%= form.textarea :notes, rows: 4, class: "input_text_field" %>
  </div>

  <div class="inline">
    <%= form.submit t('forms.buttons.submit'), class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
