<div id="<%= dom_id medical_procedure %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Date complete:</strong>
    <%= medical_procedure.date_complete %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Complete:</strong>
    <%= medical_procedure.complete %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date planned:</strong>
    <%= medical_procedure.date_planned %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= medical_procedure.notes %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Animal:</strong>
    <%= medical_procedure.animal_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Procedure type:</strong>
    <%= medical_procedure.procedure_type_id %>
  </p>

</div>
