<div id="<%= dom_id medical_procedure %>">
    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Animal:
      </p>
      <p class="body-lg-text pl-2 inline">
        <%= show_animal(medical_procedure.animal) %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Procedure type:
      </p>
      <p class="body-lg-text pl-2 inline">
        <%= medical_procedure.procedure_type.name %>
      </p>
    </div>
    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Date complete:
      </p>
      <p class="body-lg-text pl-2 inline">
        <%= medical_procedure.date_complete %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Complete:
      </p>
      <p class="body-lg-text pl-2 inline">
        <%= medical_procedure.complete %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Date planned:
      </p>
      <p class="body-lg-text pl-2 inline">
        <%= medical_procedure.date_planned %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Notes:
      </p>
      <p class="body-lg-text pl-2 inline">
        <%= medical_procedure.notes %>
      </p>
    </div>

</div>
