<div id="<%= dom_id medical_procedure %>">
    <div class="py-2">
      <p class="body-lg-bold-text inline">
        <%= t('activerecord.attributes.medical_procedure.animal_id') %>:
      </p>
      <p class="body-lg-text pl-2 inline">
        <%= link_to animal_path(medical_procedure.animal), class: "link_to", data: {turbo_frame: "_top"} do %>
          <%= show_animal(medical_procedure.animal) %>
        <% end %>
      </p>
      
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        <%= t('activerecord.attributes.medical_procedure.name') %>:
      </p>
      <p class="body-lg-text pl-2 inline">
        <%= medical_procedure.procedure_type.name %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        <%= t('activerecord.attributes.medical_procedure.description') %>:
      </p>
      <p class="body-lg-text pl-2 inline">
        <%= medical_procedure.procedure_type.description %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        <%= t('activerecord.attributes.medical_procedure.date_completed') %>:
      </p>
      <p class="body-lg-text pl-2 inline">
        <%= show_date(medical_procedure.date_completed) %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        <%= t('activerecord.attributes.medical_procedure.date_planned') %>:
      </p>
      <p class="body-lg-text pl-2 inline">
        <%= show_date(medical_procedure.date_planned) %>
      </p>
    </div>

</div>
