<div class="min-w-full">
  <table class="mi_table">
    <thead class="border border-l-0 border-r-0 border-gray-750">
      <tr>
        <th class="header_th">
          <%= link_to sort_url(@q, :animal_nickname) do %>
            <span><%= t('activerecord.attributes.medical_procedure.animal_id') %></span>
            <% sort = @q.sorts.find { |s| s.name == 'animal_nickname' } %>            
            <% if sort.present? && sort.dir == 'asc' %>
              <i class="fa-solid fa-sort-down" aria-hidden="true"></i>
            <% end %>
            <% if sort.present? && sort.dir == 'desc' %>
              <i class="fa-solid fa-sort-up" aria-hidden="true"></i>
            <% end %>
            <% unless sort.present? %>
              <i class="fa fa-sort" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </th>
        <th class="header_th">
          <%= link_to sort_url(@q, :procedure_type_name) do %>
            <span><%= t('activerecord.attributes.medical_procedure.procedure_type_id') %></span>
            <% sort = @q.sorts.find { |s| s.name == 'procedure_type_name' } %>            
            <% if sort.present? && sort.dir == 'asc' %>
              <i class="fa-solid fa-sort-down" aria-hidden="true"></i>
            <% end %>
            <% if sort.present? && sort.dir == 'desc' %>
              <i class="fa-solid fa-sort-up" aria-hidden="true"></i>
            <% end %>
            <% unless sort.present? %>
              <i class="fa fa-sort" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </th>
        <th class="header_th">
          <%= link_to sort_url(@q, :date_completed) do %>
            <span><%= t('activerecord.attributes.medical_procedure.date_completed') %></span>
            <% sort = @q.sorts.find { |s| s.name == 'date_completed' } %>            
            <% if sort.present? && sort.dir == 'asc' %>
              <i class="fa-solid fa-sort-down" aria-hidden="true"></i>
            <% end %>
            <% if sort.present? && sort.dir == 'desc' %>
              <i class="fa-solid fa-sort-up" aria-hidden="true"></i>
            <% end %>
            <% unless sort.present? %>
              <i class="fa fa-sort" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </th>
        <th class="header_th">
          <%= link_to sort_url(@q, :date_planned) do %>
            <span><%= t('activerecord.attributes.medical_procedure.date_planned') %></span>
            <% sort = @q.sorts.find { |s| s.name == 'date_planned' } %>            
            <% if sort.present? && sort.dir == 'asc' %>
              <i class="fa-solid fa-sort-down" aria-hidden="true"></i>
            <% end %>
            <% if sort.present? && sort.dir == 'desc' %>
              <i class="fa-solid fa-sort-up" aria-hidden="true"></i>
            <% end %>
            <% unless sort.present? %>
              <i class="fa fa-sort" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </th>
        <% if policy(MedicalProcedure).edit? %>
          <th class="header_th"><%= t('forms.buttons.edit') %></th>
          <th class="header_th"><%= t('forms.buttons.delete') %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @medical_procedures.each do |medical_procedure| %>
        <rt>
          <td class="mi_tbody_td">
            <%= link_to animal_path(medical_procedure.animal), class: "link_to", data: {turbo_frame: "_top"} do %>
              <%= show_animal(medical_procedure.animal) %>
            <% end %>
          </td>
          <td class="mi_tbody_td">
            <%= link_to medical_procedure_path(medical_procedure), class: "link_to", data: {turbo_frame: "_top"} do %>
              <%= medical_procedure.procedure_type.name %>
            <% end %>
          </td>
          <td class="mi_tbody_td">
            <%= show_date(medical_procedure.date_completed) %>
          </td>
          <td class="mi_tbody_td">
            <%= show_date(medical_procedure.date_planned) %>
          </td>
          <% if policy(MedicalProcedure).edit? %>
            <td class="mi_tbody_td">
              <%= link_to edit_medical_procedure_path(medical_procedure), data: { turbo_frame: "_top" }, aria: { label: "#{dom_id(medical_procedure)}_edit" } do%>
                <i class="fa fa-pencil text-950"></i>
              <% end %>
            </td>
            <td class="mi_tbody_td">
              <%= link_to medical_procedure_path(medical_procedure), data: { turbo_confirm: t('text.Are you sure?'), turbo_method: :delete}, aria: { label: "#{dom_id(medical_procedure)}_delete" }  do %>
                <i class="fa fa-trash-can text-red-950"></i>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
