<div class="col-span-2 mb-4">
  <p><%= t('text.Group search by') %>:</p>
  <div class="ml-4">
    <%= f.radio_button :m, 'and', :checked => true %>
    <%= f.label :m, t('label.and'), value: 'and' %>
  </div>
  <div class="ml-4">
    <%= f.radio_button :m, 'or' %>
    <%= f.label :m, t('label.or'), value: 'or' %>
  </div>
</div>
<div class="">
  <div class="mb-2">
    <%= f.label :animal_nickname_cont, t('text.Nickname contains'), class: "fancy_label" %>
    <%= f.search_field :animal_nickname_cont, placeholder: t('text.Contains'), class: 'filter_select', :"data-action" => "input->autosubmit#search" %>
  </div>
  <div class="mb-2">
    <%= f.label :procedure_type_name_eq, "#{t('activerecord.attributes.medical_procedure.procedure_type_id')}", class: "fancy_label"  %>
    <%= f.collection_select(:procedure_type_name_eq, procedure_types, :name, :name, { include_blank: "#{t('text.Select')} ..."}, { class: 'filter_select', :"data-action" => "autosubmit#submit"  }) %>
  </div>
  <div class="mb-2">
    <div class="mb-2">
      <%= f.label :date_planned_gteq, "#{t('label.date_planned_after')}", class: "fancy_label" %>
        <%= f.text_field :date_planned_gteq, placeholder: t('text.From'), class: 'filter_select', :"data-action" => "autosubmit#submit",
          value: @date_planned_gteq.present? ? @date_planned_gteq : nil,
          data: {
            controller: "flatpickr",
            flatpickr_date_format: "d-m-Y"
          } %>
      </div>
    <div class="mb-2">
      <%= f.label :date_planned_lteq, "#{t('label.date_planned_before')}", class: "fancy_label" %>
        <%= f.text_field :date_planned_lteq, placeholder: t('text.To'), class: 'filter_select', :"data-action" => "autosubmit#submit",
          value: @date_planned_lteq.present? ? @date_planned_lteq : nil,
          data: {
            controller: "flatpickr",
            flatpickr_date_format: "d-m-Y"
          } %>
      </div>
  </div>

  <div class="mb-2">
    <div class="mb-2">
      <%= f.label :date_completed_gteq, "#{t('label.date_completed_after')}", class: "fancy_label" %>
        <%= f.text_field :date_completed_gteq, placeholder: t('text.From'), class: 'filter_select', :"data-action" => "autosubmit#submit",
          value: @date_completed_gteq.present? ? @date_completed_gteq : nil,
          data: {
            controller: "flatpickr",
            flatpickr_date_format: "d-m-Y"
          } %>
      </div>
    <div class="mb-2">
      <%= f.label :date_completed_lteq, "#{t('label.date_completed_before')}", class: "fancy_label" %>
        <%= f.text_field :date_completed_lteq, placeholder: t('text.To'), class: 'filter_select', :"data-action" => "autosubmit#submit",
          value: @date_completed_lteq.present? ? @date_completed_lteq : nil,
          data: {
            controller: "flatpickr",
            flatpickr_date_format: "d-m-Y"
          } %>
      </div>
  </div>

  <div class="my-2 col-span-2 flex justify-start">
    <button type="button" class="tertiary_button"
      data-action='click->autosubmit#clearFilters'>
        <span>
          <i class="fa fa-times" aria-hidden="true"></i>
          <%= t('forms.buttons.clear') %>
        </span>
    </button>
  </div>
</div>
