<div class="w-full" data-controller='autosubmit'>
  <a id="top" name="top" style="display: none;">top</a>
  <div class="">
    <div class="md:flex justify-between items-center">
      <h1><%= t('text.Procedures') %></h1>
      <%= link_to t('menu.new'), new_medical_procedure_path(return_to_calendar: true), class: "primary_button" if policy(MedicalProcedure).new? %>
    </div>
    <div>
      <%= month_calendar(attribute: :date_planned, events: @medical_procedures) do |date, medical_procedures| %>
        <div class="day-header">
          <%= date.mday %>
        </div>
        <div class="body-sm-text">
          <%= link_to t('simple_calendar.Today List'), day_procedures_path(date), class: "link_to", data: {turbo_frame: "_top"} %>
          <div>
            <%= link_to new_medical_procedure_path(return_to_calendar: true, :date_planned => date), data: {turbo_frame: "_top"} do %>
              <span class="tertiary_button">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <%= t('menu.new') %>
              </span>
            <% end %>
          </div>
        </div>
        <div>
          <% procedure_types = medical_procedures.group_by(&:procedure_type_id) %>
          <% procedure_types.each do |procedure_id, medical_procedure| %>
            <div class="event">
              <%= show_day_procedure(procedure_id, medical_procedure) %>
              <%#= link_to "#{show_animal(medical_procedure.animal)} - #{medical_procedure.procedure_type.name}", medical_procedure_path(medical_procedure), class: "link_to", data: {turbo_frame: "_top"} %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
