<%= turbo_frame_tag 'animals' do %>
  <div class="min-w-full">
    <table class="mi_table" id="desk-table">
      <thead class="border border-l-0 border-r-0 border-gray-um60">
        <tr>
          <th class="header_th"><%= t('activerecord.attributes.animal.id') %></th>
          <th class="header_th"><%= t('activerecord.attributes.animal.nickname') %></th>
          <th class="header_th"><%= t('activerecord.attributes.animal.surname') %></th>
          <th class="header_th"><%= t('activerecord.attributes.animal.gender') %></th>
          <th class="header_th"><%= t('activerecord.attributes.animal.birth_year') %></th>
          <th class="header_th"><%= sort_link(@q, :aviary, t('activerecord.attributes.animal.aviary')) %></th>
          <th class="header_th"><%= sort_link(@q, :aviary, t('activerecord.attributes.animal.arival_date')) %></th>
        </tr>
      </thead>
      <tbody>
        <% @animals.each do |animal| %>
          <rt>
            <td class="mi_tbody_td">
              <%= link_to animal.id, animal_path(animal), class: "link_to", data: {turbo_frame: "_top"} %>
            </td>
            <td class="mi_tbody_td">
              <%= link_to animal.nickname, animal_path(animal), class: "link_to", data: {turbo_frame: "_top"} %>
            </td>
            <td class="mi_tbody_td">
              <%= animal.surname %>
            </td>
            <td class="mi_tbody_td">
            <%= animal.gender %>
          </td>
            <td class="mi_tbody_td">
              <%= animal.birth_year %>
            </td>
            <td class="mi_tbody_td">
              <%= animal.aviary %>
            </td>
            <td class="mi_tbody_td">
              <%= animal.arival_date %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
