<%= turbo_frame_tag 'animals' do %>
  <div class="min-w-full">
    <table class="mi_table" id="desk-table">
      <thead class="border border-l-0 border-r-0 border-gray-um60">
        <tr>
          <th class="header_th">ID</th>
          <th class="header_th">Nickname</th>
          <th class="header_th">Surname</th>
          <th class="header_th">Gender</th>
          <th class="header_th">Age</th>
          <th class="header_th">Aviary</th>
          <th class="header_th">Arival Date</th>
        </tr>
      </thead>
      <tbody>
        <% @animals.each do |animal| %>
          <rt>
            <td class="mi_tbody_td">
              <%= link_to animal.id, animal_path(animal), class: "link_to", data: {turbo_frame: "_top"} %>
            </td>
            <td class="mi_tbody_td">
              <%= link_to animal.nickname, animal_path(animal), class: "link_to", data: {turbo_frame: "_top"} %>
            </td>
            <td class="mi_tbody_td">
              <%= animal.surname %>
            </td>
            <td class="mi_tbody_td">
            <%= animal.gender %>
          </td>
            <td class="mi_tbody_td">
              <%= animal.birth_year %>
            </td>
            <td class="mi_tbody_td">
              <%= animal.aviary %>
            </td>
            <td class="mi_tbody_td">
              <%= animal.arival_date %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
