<h2><%= t('text.Medical Procedures') %></h2>
<%= turbo_frame_tag 'procedures' do %>
  <div class="min-w-full">
    <table class="mi_table" id="desk-table">
      <thead class="border border-l-0 border-r-0 border-gray-750">
        <tr>
          <th class="header_th"><%= t('activerecord.attributes.medical_procedure.procedure_type_id') %></th>
          <th class="header_th"><%= t('activerecord.attributes.medical_procedure.date_planned') %></th>
          <th class="header_th"><%= t('activerecord.attributes.medical_procedure.date_completed') %></th>
        </tr>
      </thead>
      <tbody>
        <% @medical_procedures.each do |procedure| %>
          <rt>
            <td class="mi_tbody_td">
              <%= link_to procedure.procedure_type.name, medical_procedure_path(procedure), class: "link_to", data: {turbo_frame: "_top"} %>
            </td>
            <td class="mi_tbody_td">
              <%= show_date_with_month_name(procedure.date_planned) %>
            </td>
            <td class="mi_tbody_td">
              <%= show_date_with_month_name(procedure.date_completed) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>