
<%= turbo_frame_tag 'procedures' do %>
  <div class="min-w-full">
    <table class="mi_table">
      <thead class="border border-l-0 border-r-0 border-gray-750">
        <tr>
          <th class="header_th"><%= t('activerecord.attributes.medical_procedure.procedure_type_id') %></th>
          <th class="header_th"><%= t('activerecord.attributes.medical_procedure.date_planned') %></th>
          <th class="header_th"><%= t('activerecord.attributes.medical_procedure.date_completed') %></th>
          <% if policy(MedicalProcedure).edit? %>
            <th class="header_th"><%= t('forms.buttons.edit') %></th>
            <th class="header_th"><%= t('forms.buttons.delete') %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @medical_procedures.each do |procedure| %>
          <tr>
            <td class="mi_tbody_td">
              <%= link_to procedure.procedure_type.name, medical_procedure_path(procedure), class: "link_to", data: {turbo_frame: "_top"} %>
            </td>
            <td class="mi_tbody_td">
              <%= show_date_with_month_name(procedure.date_planned) %>
            </td>
            <td class="mi_tbody_td">
              <%= show_date_with_month_name(procedure.date_completed) %>
            </td>
            <% if policy(MedicalProcedure).edit? %>
              <td class="mi_tbody_td">
                <%= link_to edit_medical_procedure_for_animal_path(procedure), data: { turbo_frame: "_top" }, aria: { label: "#{dom_id(procedure)}_edit" } do%>
                  <i class="fa fa-pencil text-950"></i>
                <% end %>
              </td>
              <td class="mi_tbody_td">
                <%= link_to delete_medical_procedure_path(@animal, procedure), data: { turbo_confirm: t('text.Are you sure?'), turbo_method: :post}, aria: { label: "#{dom_id(procedure)}_delete" }  do %>
                  <i class="fa fa-trash-can text-red-950"></i>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
