<div id="<%= dom_id animal %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Nickname:</strong>
    <%= animal.nickname %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Surname:</strong>
    <%= animal.surname %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Gender:</strong>
    <%= animal.gender %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Arival date:</strong>
    <%= animal.arival_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">From people:</strong>
    <%= animal.from_people %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">From place:</strong>
    <%= animal.from_place %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Birth year:</strong>
    <%= animal.birth_year %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Birth month:</strong>
    <%= animal.birth_month %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Death date:</strong>
    <%= animal.death_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Color:</strong>
    <%= animal.color %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Aviary:</strong>
    <%= animal.aviary %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= animal.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">History:</strong>
    <%= animal.history %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Graduation:</strong>
    <%= animal.graduation %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Animal type:</strong>
    <%= animal.animal_type_id %>
  </p>

</div>
