<div id="<%= dom_id animal %>">
  <div class="grid grid-cols-1 md:grid-cols-2">
    <div>
      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('activerecord.attributes.animal.id') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= animal.id %>
        </p>
      </div>

      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('activerecord.attributes.animal.nickname') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= animal.nickname %>
        </p>
      </div>

      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('activerecord.attributes.animal.surname') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= animal.surname %>
        </p>
      </div>

      <% if animal.parent_id.present? %>
        <div class="py-2">
          <p class="body-lg-bold-text inline">
            <%= t('activerecord.attributes.animal.parent_id') %>:
          </p>
          <p class="body-lg-text pl-2 inline">
            <%= link_to animal.parent.display_name, animal.parent, class: 'link_to' %>
          </p>
        </div>
      <% end %>

      <% if animal.children.present? %>
        <div class="py-2 flex">
          <p class="body-lg-bold-text inline">
            <%= t('activerecord.attributes.animal.children') %>:
          </p>
          <p class="body-lg-text pl-2 inline">
            <%= animal.children.map { |child| link_to(child.display_name, child, class: 'link_to') + '<br>'.html_safe }.join.html_safe %>          
          </p>
        </div>
      <% end %>

      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('activerecord.attributes.animal.surname') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= animal.surname %>
        </p>
      </div>

      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('activerecord.attributes.animal.sterilization') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= show_boolean(animal.sterilization) %>
        </p>
      </div>

      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('activerecord.attributes.animal.gender') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= animal.gender %>
        </p>
      </div>

      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('activerecord.attributes.animal.arival_date') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= show_date(animal.arival_date) %>
        </p>
      </div>

      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('activerecord.attributes.animal.from_people') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= animal.from_people %>
        </p>
      </div>

      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('activerecord.attributes.animal.from_place') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= animal.from_place %>
        </p>
      </div>

      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('label.Birthday') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= show_date(animal.birth_date) %>
        </p>
      </div>

      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('label.Age') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= age(animal) %>
        </p>
      </div>

      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('activerecord.attributes.animal.death_date') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= show_date(animal.death_date) %>
        </p>
      </div>

      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('activerecord.attributes.animal.color') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= animal.color %>
        </p>
      </div>

      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('activerecord.attributes.animal.aviary_id') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= show_aviary(animal) %>
        </p>
      </div>

      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('activerecord.attributes.animal.description') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= animal.description %>
        </p>
      </div>

      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('activerecord.attributes.animal.history') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= animal.history %>
        </p>
      </div>

      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('activerecord.attributes.animal.graduation') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= animal.graduation %>
        </p>
      </div>

    </div>
    <div>
      <div class="flex justify-between mb-2">
        <h2><%= t('text.Medical Procedures') %></h2> 
        <%= link_to t('menu.new'), new_medical_procedure_for_animal_path(animal_id: @animal.id), class: "primary_button" %>
      </div>
      <%= render 'animal_medicine' %>
      <%= render 'pictures' %>
    </div>
  </div>

</div>
