<div id="<%= dom_id animal %>">
  <div class="grid grid-cols-1 md:grid-cols-2">
    <div>
      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('activerecord.attributes.animal.id') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= animal.id %>
        </p>
      </div>


      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('activerecord.attributes.animal.nickname') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= animal.nickname %>
        </p>
      </div>

      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('activerecord.attributes.animal.surname') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= animal.surname %>
        </p>
      </div>

      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('activerecord.attributes.animal.gender') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= animal.gender %>
        </p>
      </div>

      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('activerecord.attributes.animal.arival_date') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= animal.arival_date %>
        </p>
      </div>

      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('activerecord.attributes.animal.from_people') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= animal.from_people %>
        </p>
      </div>

      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('activerecord.attributes.animal.from_place') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= animal.from_place %>
        </p>
      </div>

      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('label.Birthday') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= animal.birth_year %>
        </p>
      </div>

      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('label.Age') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= age(animal) %>
        </p>
      </div>

      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('activerecord.attributes.animal.death_date') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= animal.death_date %>
        </p>
      </div>

      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('activerecord.attributes.animal.color') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= animal.color %>
        </p>
      </div>

      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('activerecord.attributes.animal.aviary') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= animal.aviary %>
        </p>
      </div>

      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('activerecord.attributes.animal.description') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= animal.description %>
        </p>
      </div>

      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('activerecord.attributes.animal.history') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= animal.history %>
        </p>
      </div>

      <div class="py-2">
        <p class="body-lg-bold-text inline">
          <%= t('activerecord.attributes.animal.graduation') %>:
        </p>
        <p class="body-lg-text pl-2 inline">
          <%= animal.graduation %>
        </p>
      </div>

    </div>
    <div>
      <%= render 'animal_medicine' %>
      <%= render 'pictures' %>
    </div>
  </div>

</div>
