<%= simple_form_for animal,
  data: { controller: "animal" } do |form| %>
  <% if animal.errors.any? %>
    <div id="error_explanation" class="text-base text-red-950 px-3 py-2 font-medium rounded-lg mt-3">
    <p class="text-lg"><%= t('error', count: animal.errors.count) %> <%= t('forms.messages.prohibited this record from being saved') %>:</p>

      <ul>
        <% animal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :animal_type_id, "#{t('activerecord.attributes.animal.animal_type_id')}(*)" %>
    <%= form.collection_select(:animal_type_id, animal_types, :id, :name, { include_blank: "#{t('text.Select')} ...", required: true }, { class: "input_text_field" }) %>
  </div>

  <div class="my-5">
    <%= form.label :animal_status_id, "#{t('activerecord.attributes.animal.animal_status_id')}(*)" %>
    <%= form.collection_select(:animal_status_id, animal_statuses, :id, :name, { include_blank: "#{t('text.Select')} ...", required: true }, { class: "input_text_field" }) %>
  </div>

  <div class="my-5">
    <%= form.label :nickname %>
    <%= form.text_field :nickname, class: "input_text_field" %>
  </div>

  <div class="my-5">
    <%= form.label :surname %>
    <%= form.text_field :surname, class: "input_text_field" %>
  </div>

  <div class="my-5">
    <%= form.label :parent_id, "#{t('activerecord.attributes.animal.parent_id')}" %>
    <%= form.select(:parent_id, options_for_select(parents(@animal), @animal.parent_id), { include_blank: "#{t('text.Select')} ..." }, { class: "input_text_field" } )%>

  </div>

  <div class="my-5">
    <%= form.checkbox :sterilization, class: "check_box" %>
    <%= form.label :sterilization %>
  </div>

  <div class="my-5">
    <%= form.label :gender %>
    <%= form.select(:gender, options_for_select(gender_lists, @animal.gender), { include_blank: "#{t('text.Select')} ..." }, { class: "input_text_field" } )%>
  </div>

  <div class="my-5">
    <%= form.label :arival_date %>
    <%= form.text_field :arival_date,
          class: "input_text_field",
          placeholder: "DD-MM-YYYY",
          data: {
            controller: "flatpickr",
            flatpickr_date_format_value: "d-m-Y",
            flatpickr_alt_input: false
          } %>
  </div>

  <div class="my-5">
    <%= form.label :from_people %>
    <%= form.text_field :from_people, class: "input_text_field" %>
  </div>

  <div class="my-5">
    <%= form.label :from_place %>
    <%= form.text_field :from_place, class: "input_text_field" %>
  </div>

  <div class="my-5 mr-2">
    <%= form.input :birth_date, as: :date, start_year: Date.today.year - 12,
                                      end_year: Date.today.year, default: { day: 1, month: 1 },
                                      input_html: { class: "inline short_input_text_field ml-2" } %>
  </div>

  <div class="my-5">
    <%= form.label :death_date %>
    <%= form.text_field :death_date,
          class: "input_text_field",
          placeholder: "DD-MM-YYYY",
          data: {
            controller: "flatpickr",
            flatpickr_date_format_value: "d-m-Y",
            flatpickr_alt_input: false
          } %>
  </div>

  <div class="my-5">
    <%= form.label :color %>
    <%= form.text_field :color, class: "input_text_field" %>
  </div>

  <div class="my-5">
    <%= form.label :aviary_id %>
    <%= form.collection_select(:aviary_id, aviaries, :id, :name, { include_blank: "#{t('text.Select')} ..." }, { "data-action": "change->animal#getSections", "data-animal-target": "aviary_select", "class": "input_text_field" } ) %>
  </div>

  <% if @animal.persisted? || @section_id.present? %>
    <% if @animal.aviary&.has_sections %>
      <div class="" data-animal-target="show_sections">
        <%= form.label :section_id %>
        <%= form.collection_select :section_id, @sections, :id, :name, { include_blank: "#{t('text.Select')} ..." }, { selected: @section_id.present? ? @section_id: nil, "data-animal-target": "section", class: "input_text_field" } %>
      </div>
    <% else %>
      <div class="hidden" data-animal-target="show_sections">
        <%= form.label :section_id %>
        <%= form.collection_select :section_id, sections, :id, :name, { include_blank: "#{t('text.Select')} ..." }, { selected: @section_id.present? ? @section_id: nil, "data-animal-target": "section", class: "input_text_field" } %>
      </div>
    <% end %>
  <% else %>
    <div class="hidden" data-animal-target="show_sections">
      <%= form.label :section_id %>
      <%= form.collection_select :section_id, sections, :id, :name, { include_blank: "#{t('text.Select')} ..." }, { selected: @animal.section_id.present? ? @animal.section_id : "", "data-animal-target": "section", class: "input_text_field" } %>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_field :description, class: "input_text_field" %>
  </div>

  <div class="my-5">
    <%= form.label :history %>
    <%= form.text_field :history, class: "input_text_field" %>
  </div>

  <div class="my-5">
    <%= form.label :graduation %>
    <%= form.text_field :graduation, class: "input_text_field" %>
  </div>

  <div class="inline">
    <%= form.submit t('forms.buttons.submit'), class: "primary_button" %>
  </div>

  <% if form.object.persisted? %>
    <%= link_to animal_path(@animal) do %>
      <span class="tertiary_button"><%= t('forms.buttons.cancel') %>
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>
    <% end %>
  <% else %>
    <%= link_to animals_path do %>
      <span class="tertiary_button"><%= t('forms.buttons.cancel') %>
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>
    <% end %>
  <% end %>

<% end %>
