<%= form_with model: animal, class: "contents",
  data: { controller: "animal", animal_target: "form",
  action: "submit->animal#submitForm" } do |form| %>
  <% if animal.errors.any? %>
    <div id="error_explanation" class="text-base text-red-950 px-3 py-2 font-medium rounded-lg mt-3">
    <p class="text-lg"><%= t('error', count: animal.errors.count) %> <%= t('forms.messages.prohibited this record from being saved') %>:</p>

      <ul>
        <% animal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :animal_type_id, "#{t('activerecord.attributes.animal.animal_type_id')}(*)" %>
    <%= form.collection_select(:animal_type_id, animal_types, :id, :name, { selected: 1, required: true }, { class: "input_text_field" }) %>
  </div>

  <div class="my-5">
    <%= form.label :animal_status_id, "#{t('activerecord.attributes.animal.animal_status_id')}(*)" %>
    <%= form.collection_select :animal_status_id, animal_statuses, :id, :name, { required: true, selected: "1" }, { class: "input_text_field" } %>
  </div>

  <div class="my-5">
    <%= form.label :nickname %>
    <%= form.text_field :nickname, class: "input_text_field" %>
  </div>

  <div class="my-5">
    <%= form.label :surname %>
    <%= form.text_field :surname, class: "input_text_field" %>
  </div>

  <div class="my-5">
    <%= form.label :parent_id, "#{t('activerecord.attributes.animal.parent_id')}" %>
    <%= form.select(:parent_id, options_for_select(parents(animal), animal.parent_id), { include_blank: "#{t('text.Start typing to search')}" }, { class: 'input_text_field' } ) %>
  </div>

  <p class="my-5">
    <%= "#{t('activerecord.attributes.animal.siblings')}" %>
  </p>

  <% if animal.persisted? && animal.siblings.present? %>
    <p class="body-sm-semibold-text">
      <%= t('text.To remove a sibling, please check the corresponding checkbox') %>
    </p>
    <div class="my-5">
      <% animal.siblings.each do |sibling| %>
        <%= check_box_tag "sibling_remove[#{sibling.id}]", 1, nil, class: "check_box", id: "sibling_id_#{sibling.id}" %>
        <%= label_tag "sibling_id_#{sibling.id}", "#{sibling.display_name}", class: "mr-2" %>
      <% end %>
    </div>
  <% end %>
  <p class="body-sm-semibold-text">
    <%= t('text.To add a sibling please select one from the drop-down list; when duplicating, siblings will be preserved') %>
  </p>
  <div class="my-5">
    <%= form.label :sibling_id, class: "hidden" %>
    <%= select_tag "sibling_id", options_for_select(possible_siblings(animal), selected: params[:sibling_id]), include_blank: "#{t('text.Start typing to search')}", class: "input_text_field" %>
  </div>


  <div class="my-5">
    <%= form.checkbox :sterilization, class: "check_box" %>
    <%= form.label :sterilization %>
  </div>

  <div class="my-5">
    <%= form.label :gender %>
    <%= form.select(:gender, options_for_select(gender_lists, @animal.gender), { include_blank: "#{t('text.Select')} ..." }, { class: "input_text_field" } )%>
  </div>

  <div class="my-5">
    <%= form.label :size %>
    <%= form.select(:size, options_for_select(size_list, @animal.size), { include_blank: "#{t('text.Select')} ..." }, { class: "input_text_field" } )%>
  </div>

  <div class="my-5">
    <%= form.label :arival_date %>
    <%= form.text_field :arival_date,
          class: "input_text_field",
          placeholder: "DD-MM-YYYY",
          value: animal.arival_date.present? ? animal.arival_date.strftime("%d-%m-%Y") : nil,
          data: {
            controller: "flatpickr",
            flatpickr_date_format_value: "d-m-Y",
            flatpickr_alt_input: false
          } %>
  </div>

  <div class="my-5">
    <%= form.label :from_people %>
    <%= form.text_field :from_people, class: "input_text_field" %>
  </div>

  <div class="my-5">
    <%= form.label :from_place %>
    <%= form.text_field :from_place, class: "input_text_field" %>
  </div>
  <div id="error_scroll_place"></div>
  <p class="body-sm-semibold-text">
    <%= t('text.For the birth date or death date, select a year or a year, month, and day') %>
  </p>
  <div class="my-5 mr-2">
    <div>
      <%= label_tag 'birth_year', "#{t('label.Birth Date')}" %>
    </div>
    <div class="flex justify-between">
      <%= select_year(@birth_year, { prompt: "#{t('text.Select Year')} ...", start_year: DateTime.now.year, end_year: DateTime.now.year - 20 }, {name: 'birth_year', :class => 'short_input_text_field', "data-animal-target": "birth_year"}) %>
      <%= select_day(@birth_day, { field_name: 'birth_day', prefix: 'birth', prompt: "#{t('text.Select Day')} ..." }, { class: "inline short_input_text_field", "data-animal-target": "birth_day" }) %>
      <%= select_month(@birth_month, { field_name: 'birth_month', prefix: 'birth', prompt: "#{t('text.Select Month')} ..." }, { class: "inline short_input_text_field", "data-animal-target": "birth_month" }) %>
    </div>
  </div>
  <div class="error_text" id="birthdate_error"></div>

  <div class="my-5 mr-2">
    <div>
      <%= label_tag 'death_year', "#{t('label.Death Date')}" %>
    </div>
    <div class="flex justify-between">
      <%= select_year(@death_year, { prompt: "#{t('text.Select Year')} ...", start_year: DateTime.now.year, end_year: DateTime.now.year - 20 }, { name: 'death_year', :class => 'short_input_text_field', "data-animal-target": "death_year" }) %>
      <%= select_day(@death_day, { field_name: 'death_day', prefix: 'death', prompt: "#{t('text.Select Day')} ..." }, { class: "inline short_input_text_field", "data-animal-target": "death_day" }) %>
      <%= select_month(@death_month, { field_name: 'death_month', prefix: 'death', prompt: "#{t('text.Select Month')} ..." }, { class: "inline short_input_text_field", "data-animal-target": "death_month" }) %>
    </div>
  </div>
  <div class="error_text" id="deathdate_error"></div>

  <div class="my-5">
    <%= form.label :color %>
    <%= form.text_field :color, class: "input_text_field" %>
  </div>

  <div class="my-5">
    <%= form.label :aviary_id %>
    <%= form.collection_select(:aviary_id, aviaries, :id, :name, { include_blank: "#{t('text.Select')} ..." }, { "data-action": "change->animal#getSections", "data-animal-target": "aviary_select", "class": "input_text_field" } ) %>
  </div>

  <% if @animal.persisted? || @section_id.present? %>
    <% if @animal.aviary&.has_sections %>
      <div class="" data-animal-target="show_sections">
        <%= form.label :section_id %>
        <%= form.collection_select :section_id, @sections, :id, :name, { include_blank: "#{t('text.Select')} ..." }, { selected: @section_id.present? ? @section_id: nil, "data-animal-target": "section", class: "input_text_field" } %>
      </div>
    <% else %>
      <div class="hidden" data-animal-target="show_sections">
        <%= form.label :section_id %>
        <%= form.collection_select :section_id, sections, :id, :name, { include_blank: "#{t('text.Select')} ..." }, { selected: @section_id.present? ? @section_id: nil, "data-animal-target": "section", class: "input_text_field" } %>
      </div>
    <% end %>
  <% else %>
    <div class="hidden" data-animal-target="show_sections">
      <%= form.label :section_id %>
      <%= form.collection_select :section_id, sections, :id, :name, { include_blank: "#{t('text.Select')} ..." }, { selected: @animal.section_id.present? ? @animal.section_id : "", "data-animal-target": "section", class: "input_text_field" } %>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :distinctive_feature %>
    <%= form.text_field :distinctive_feature, class: "input_text_field" %>
  </div>

  <div class="my-5">
    <%= form.label :medical_history %>
    <%= form.text_field :medical_history, class: "input_text_field" %>
  </div>

  <div class="my-5">
    <%= form.label :graduation %>
    <%= form.text_field :graduation, class: "input_text_field" %>
  </div>

  <div class="inline">
    <%= form.submit t('forms.buttons.submit'), class: "primary_button" %>
  </div>

  <% if form.object.persisted? %>
    <%= link_to animal_path(@animal) do %>
      <span class="tertiary_button"><%= t('forms.buttons.cancel') %>
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>
    <% end %>
  <% elsif @duplicate_animal_id.present? %>
    <%= link_to animal_path(@duplicate_animal_id) do %>
      <span class="tertiary_button"><%= t('forms.buttons.cancel') %>
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>
    <% end %>
  <% else %>
    <%= link_to animals_path do %>
      <span class="tertiary_button"><%= t('forms.buttons.cancel') %>
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>
    <% end %>
  <% end %>

<% end %>
