 <%= turbo_frame_tag "pictures" do %>
  <div class="my-5">
    <h2>
      <%= t('text.Pictures') %>
    </h2>
    <% if policy(@animal).upload_pictures? %>
      <p class="body-sm-text my-2">
        <%= t('text.To upload multiple images, click Browse and select all images at once') %>
      </p>
      <%= form_with(model: @animal, url: upload_pictures_path, method: :post, html: { class: "sm:flex sm:items-center" }) do |form| %>
        <%= form.label :pictures, "Pictures (upload multiple images)", class: "hidden" %>
        <%= form.file_field :pictures, multiple: true, class: "body-sm-text" %>
        <%= form.submit t('forms.buttons.save'), class: "primary_button mt-2" %>
      <% end %>
    <% end %>
  </div>
  <% if @animal.pictures.attached? %>
    <div>
      <p class="body-md-bold-text mb-2"><%= t('text.Uploaded Pictures') %>:</p>
      <div data-controller="lightbox">
        <ul class="list-none grid grid-cols-2 gap-x-4 gap-y-8 mb-2">
          <% @ordered_pictures.each_with_index do |picture, index| %>
            <li class="relative">
              <div class="flex flex-col">
                <a href="<%= url_for(picture) %>" 
                  class="glightbox" 
                  data-gallery="animals-gallery"
                  data-action="click->lightbox#openImage"
                  data-lightbox-index-param="<%= index %>">
                  <%= picture_tag picture.variant(:thumb), alt: "Photo of #{@animal.display_name}", class: "object-cover group-hover:opacity-75 lightbox-image" %>
                </a>
                <p class="body-sm-text pt-2">
                  <%= t('text.Uploaded on') %> <%= show_date_with_month_name(picture.created_at) %>
                </p>
                
                <!-- Main picture checkbox -->
                <div class="mt-2">
                  <%= form_with url: set_main_picture_path(@animal), method: :patch, class: "flex items-center" do |form| %>
                    <%= form.hidden_field :blob_id, value: picture.blob_id %>
                    <%= form.check_box :main_picture, 
                        { 
                          checked: @animal.main_picture_blob_id == picture.blob_id,
                          class: "check_box",
                          onchange: "this.form.submit();"
                        }, 
                        picture.blob_id,
                        "" %>
                    <%= form.label :main_picture, t('label.Main Picture'), class: "body-sm-text ml-2" %>
                  <% end %>
                </div>
                
                <div class="mt-2" data-controller="picture-delete"
                     data-picture-delete-is-main-picture-value="<%= @animal.main_picture_blob_id == picture.blob_id %>"
                     data-picture-delete-total-pictures-value="<%= @total_pictures %>">
                  
                  <!-- Warning message for main picture -->
                  <div data-picture-delete-target="warningMessage" class="hidden mb-2">
                    <p class="body-sm-text text-red-600 bg-red-50 p-2 rounded">
                      <%= t('text.Please set a different main picture before deleting this one') %>
                    </p>
                  </div>
                  
                  <% if policy(@animal).delete_picture? %>
                    <%= link_to delete_picture_path(picture), 
                        data: { 
                          turbo_method: :post, 
                          turbo_confirm: t('text.Are you sure?'),
                          picture_delete_target: "deleteButton",
                          action: "click->picture-delete#checkDelete"
                        } do %>
                      <span class="tertiary_button"><%= t('forms.buttons.delete') %>
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </span>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>
