<%= turbo_frame_tag "pictures" do %>
  <div class="my-5">
    <h2>
      <%= t('text.Pictures') %>
    </h2>
    <% if policy(@animal).upload_pictures? %>
      <p class="body-sm-text my-2">
        <%= t('text.To upload multiple images, click Browse and select all images at once') %>
      </p>
      <%= form_with(model: @animal, url: upload_pictures_path, method: :post, html: { class: "sm:flex sm:items-center" }) do |form| %>
        <%= form.label :pictures, "Pictures (upload multiple images)", class: "hidden" %>
        <%= form.file_field :pictures, multiple: true, class: "body-sm-text" %>
        <%= form.submit t('forms.buttons.save'), class: "primary_button" %>
      <% end %>
    <% end %>
  </div>

  <% if @animal.pictures.attached? %>
    <div class="">
      <p class="body-md-bold-text mb-2"><%= t('text.Uploaded Pictures') %>:</p>
      <div>
        <ul class="list-none grid grid-cols-2 gap-x-4 gap-y-8 mb-2">
          <% @animal.pictures.order(created_at: :desc).each do |picture| %>
            <li class="relative">
              <div class="flex flex-col">
                <%= link_to url_for(picture), target: "_blank" do %>
                  <%= picture_tag picture.variant(:thumb), alt: "pictures_#{picture.id}", class: "object-cover group-hover:opacity-75" %>
                <% end %>
                <p class="body-sm-text pt-2">
                  <%= t('text.Uploaded on') %> <%= show_date_with_month_name(picture.created_at) %>
                </p>
                <div>
                  <% if policy(@animal).delete_picture? %>
                    <%= link_to delete_picture_path(picture), data: { turbo_method: :get, turbo_confirm: t('text.Are you sure?') } do %>
                      <span class="tertiary_button"><%= t('forms.buttons.delete') %>
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </span>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <%#= render 'picture_errors', image_field_name: 'pictures' %>
<% end %>

