<div class="w-full">

  <% content_for :title, "Animals" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl"><%= t('text.Animals') %></h1>
    <%= link_to t('menu.new'), new_animal_path, class: "primary_button" %>
  </div>

  <div>
    <%= search_form_for @q,
      data: { controller: "animal",
              animal_target: "form",
              turbo_frame: "turbo-animals"
              } do |f| %>

      <div class="flex items-center gap-4">
        <div class="flex justify-between items-center gap-4 text-sm mb-4">
          <div class="display inline">
            <label for="sort" class="fancy_label"><%= t('label.sort') %></label>
            <%= select_tag "sort", options_for_select(fields_to_sort_animals, selected: @sort_by), include_blank: "#{t('text.Select')} ..." , class: "filter_select",
              :"data-action" => "change->animal#submit" %>
          </div>
          <div>
            <label for="order" class="fancy_label"><%= t('label.order') %></label>
            <%= select_tag "order", options_for_select(sorting_order, selected: @order), class: "filter_select",
              :"data-action" => "change->animal#submit" %>
          </div>
          <div>
            <label for="switch_view" class="fancy_label"><%= t('label.view') %></label>
            <%= select_tag "switch_view", options_for_select(index_views, selected: @view), class: "filter_select",
              :"data-action" => "change->animal#submit" %>
          </div>
        </div>
        <div class="my-2 ml-4">
          <%= page_entries_info @animals %>
        </div>
      </div>
      <div class="relative min-h-screen md:flex">
        <div class="z-50 sidebar w-72 absolute inset-y-0 left-0 transform -translate-x-full md:relative md:translate-x-0 transition duration-200 ease-in-out">

          <div class="col-span-2 mb-4 flex justify-start">
            <p><%= t('text.Group searching conditions by') %>:</p>
            <div class="ml-4">
              <%= f.radio_button :m, 'and', :checked => true %>
              <%= f.label :m, t('label.and'), value: 'and' %>
            </div>
            <div class="ml-4">
              <%= f.radio_button :m, 'or' %>
              <%= f.label :m, t('label.or'), value: 'or' %>
            </div>
          </div>
          <div class="">
            <div class="mb-2">
              <%= f.label :animal_type_name_eq, "#{t('activerecord.attributes.animal.animal_type_id')}" %>
              <%= f.collection_select(:animal_type_name_eq, animal_types, :name, :name, { include_blank: "#{t('text.Select')} ..." }, { class: 'input_text_field' }) %>
            </div>
            <div class="mb-2">
              <%= f.label :nickname_cont %>
              <%= f.search_field :nickname_cont, placeholder: t('text.Contains'), class: 'input_text_field' %>
            </div>
            <div class="mb-2">
              <%= f.label :surname_cont %>
              <%= f.search_field :surname_cont, placeholder: t('text.Contains'), class: 'input_text_field' %>
            </div>
            <div class="mb-2">
              <%= f.label :gender %>
              <%= f.select(:gender_eq, gender_lists, { include_blank: "#{t('text.Select')} ..." }, { class: "input_text_field" }) %>
            </div>
            <div class="flex items-end mb-2">
              <div class="flex-1 w-1/2">
                <%= f.label :arival_date %>
                <%= f.text_field :arival_date_gteq, placeholder: t('text.From'), class: 'input_text_field',
                  data: {
                    controller: "flatpickr",
                    flatpickr_date_format: "Y-m-d"
                  } %>
              </div>
              <div class="ml-1 flex-1 w-1/2">
                <%= f.text_field :arival_date_lteq, placeholder: t('text.To'), class: 'input_text_field',
                  data: {
                    controller: "flatpickr",
                    flatpickr_date_format: "Y-m-d"
                  } %>
              </div>
            </div>
            <div class="mb-2">
              <%= f.label :aviary_name_eq, "#{t('activerecord.attributes.animal.aviary_id')}"  %>
              <%= f.collection_select(:aviary_name_eq, aviaries, :name, :name, { include_blank: "#{t('text.Select')}" }, { class: 'input_text_field' }) %>
            </div>
            <div class="mb-2">
              <%= f.label :description_cont %>
              <%= f.search_field :description_cont, placeholder: t('text.Contains'), class: 'input_text_field' %>
            </div>
            <div class="mb-2">
              <%= f.label :history_cont %>
              <%= f.search_field :history_cont, placeholder: t('text.Contains'), class: 'input_text_field' %>
            </div>

            <div class="mb-2">
              <%= f.label :description_or_history_cont %>
              <%= f.search_field :description_or_history_cont, placeholder: t('text.Contains'), class: 'input_text_field' %>
            </div>

            <div>
              <%= f.label :notes_body_cont %>
              <%= f.search_field :notes_body_cont, placeholder: t('text.Contains'), class: 'input_text_field' %>
            </div>
            
            <div class="my-2 col-span-2 flex justify-start">
              <div class="mr-2">
                <%= f.submit t('forms.buttons.search'), data: { disable_with: false }, class: "primary_button" %>
              </div>
              <div>
                <button type="button" class="tertiary_button"
                  data-action='click->animal#clearFilters'>
                    <span>
                      <i class="fa fa-times" aria-hidden="true"></i>
                      <%= t('forms.buttons.clear') %>
                    </span>
                </button>
              </div>
            </div>
          </div>
        </div>
    <% end %>
    <div class="flex-1 mx-2">
      <%= turbo_frame_tag "turbo-animals" do %>
        <div class="mb-20 min-w-full" id="animals_listing">
          
          <% if @view == 'table' %>
            <%= render 'animal_list' %>
          <% else %>
            <%= render 'picture_list' %>
          <% end %>
          <div class="my-2 flex justify-center" >
            <%= paginate @animals %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  
</div>
