<div class="mx-auto w-full">
  <div class="grid grid-cols-1 lg:grid-cols-2 items-center">
    <h1><%= @animal.animal_type.name %> (<%= @animal.animal_status.name %>)</h1>
    <div class="lg:grid lg:justify-items-end">
      <%= link_to t('forms.buttons.edit'), edit_animal_path(@animal), class: "primary_button mb-2" if policy(Animal).edit? %>
      <div class="mt-2">
        <% if policy(Animal).duplicate? %>
          <%= link_to duplicate_path(@animal) do %>
            <span class="tertiary_button">
              <i class="fa-solid fa-clone" aria-hidden="true"></i>
              <%= t('forms.buttons.duplicate') %>
            </span>
          <% end %>
        <% end %>
      </div>
      <div>
        <% if policy(Animal).destroy? %>
          <%= link_to animal_path(@animal), data: { turbo_confirm: t('text.Are you sure?'), turbo_method: :delete} do %>
            <span class="tertiary_button">
              <i class="fa fa-times" aria-hidden="true"></i>
              <%= t('forms.buttons.delete') %>
            </span>
          <% end %>
        <% end %>
      </div>
      <%= link_to animals_path(animal_type_id: @animal.animal_type_id) do %>
        <span class="tertiary_button">
          <i class="fa-solid fa-arrow-left" aria-hidden="true"></i>
          <%= t('forms.buttons.back') %>
        </span>
      <% end %>
    </div>
  </div>
  <%= link_to "PDF", animal_path(@animal, format: :pdf), class: "primary_button mb-2" if policy(Animal).edit? %>
  <div class="grid grid-cols-1 lg:grid-cols-2">
    <div class="grid lg:col-span-2">
      <%= render @animal %>
    </div>
  </div>

  <div class="container p-2 rounded-lg shadow-lg text-xl mb-20 bg-gray-50">
    <h2 class="mb-4"><%= t('text.Notes') %>:</h2>
    <% if policy(Animal).edit? %>
      <%= render partial: "notes/form", locals: { note: Note.new, noteable: @animal } %>
    <% end %>
    <%= turbo_stream_from @animal, :notes %>
    <%= tag.div id: "#{dom_id(@animal)}_notes" do %>
      <%= render @animal.notes %>
    <% end %>
  </div>
  
</div>
