<%= form_with model: [@aviary, section] do |form| %>
  <% if form.object.errors.any? %>
    <div class="alert alert-danger">
      <% form.object.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "input_text_field" %>
    <%= form.submit class: "primary_button mt-2" %>
  </div>
<% end %>
