<%= form_for [@aviary, section] do |form| %>
  <% if form.object.errors.any? %>
    <div class="alert alert-danger">
      <% form.object.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>
  <%= form.text_field :name %>
  <%= form.submit class: "primary_button mt-2" %>
  <% if form.object.persisted? %>
    <%= link_to note do %>
      <span class="tertiary_button">Cancel
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>
    <% end %>
  <% end %>
<% end %>
