<nav data-controller="navbar" class="bg-green-900">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <%= link_to root_path do %>
            <div class="flex items-center">
              <span class="text-white navlogo-sm-text pl-4">
              Dogs Ambulance
              </span>
            </div>
          <% end %>
        </div>
        <% if authenticated? %>
          <div class="hidden lg:ml-6 lg:block">
            <div class="flex space-x-4">
              <div class="flex items-center justify-between">
                <div class="nav-top-link">
                  <%= link_to t('menu.header.animals'), animals_path, class: "#{class_names(active: current_page?(cart_path))}" %>
                </div>
              </div>
              <div class="group relative cursor-pointer">
                <div class="flex items-center justify-between">
                  <%= content_tag :span, t('menu.header.аdditions'), class: "nav-top-link" %>
                </div>
                <div class="invisible absolute z-50 flex w-full flex-col bg-green-900 py-1 group-hover:visible" onClick="">
                  <%= link_to t('menu.header.types'), animal_types_path, class: "nav-sub-link" %>
                  <%= link_to t('menu.header.aviaries'), aviaries_path, class: "nav-sub-link" %>
                  <%= link_to t('menu.header.statuses'), animal_statuses_path, class: "nav-sub-link" %>
                </div>
              </div>
              <div class="group relative cursor-pointer">
                <div class="flex items-center justify-between">
                  <%= content_tag :span, t('menu.header.medicine'), class: "nav-top-link" %>
                </div>
                <div class="invisible absolute z-50 flex w-full flex-col bg-green-900 py-1 group-hover:visible" onClick="">
                  <%= link_to t('menu.header.types'), procedure_types_path, class: "nav-sub-link" %>
                  <%= link_to t('menu.header.procedures'), medical_procedures_path, class: "nav-sub-link" %>
                </div>
              </div>
              <div class="flex items-center justify-between">
                <div class="nav-top-link">
                  <%= link_to t('menu.header.cart'), cart_path, class: "#{class_names(active: current_page?(cart_path))}" %>
                  <%= turbo_frame_tag "cart_total" do %>
                    <%= render 'cart/cart_total' %>
                  <% end %>
                </div>
              </div>
              <div class="group relative cursor-pointer">
                <div class="flex items-center justify-between">
                  <% if I18n.locale == :en %>
                    <%= link_to t('menu.languages.ru'), change_locale_path(:ru), class: "nav-top-link" %>
                  <% else %>
                    <%= link_to t('menu.languages.en'), change_locale_path(:en), class: "nav-top-link" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="hidden lg:ml-6 lg:block">
        <div class="flex items-center">
          <% if authenticated? %>
            <div>
              <div class="text-white body-sm-text pb-1"><%= current_user.email_address %></div>
              <%= link_to "Sign Out", session_path, 
                method: :delete, 
                data: { turbo_method: :delete, confirm: "Are you sure?" },
                class: "sign_button" 
              %>
            </div>
          <% else %> 
            <div>
              <%= link_to "Sign In", new_session_path, 
                  class: "sign_button" 
              %>
            </div>
          <% end %>
        </div>
      </div>
      
      

      <%# Mobile Nav button %>
      <div class="-mr-2 flex lg:hidden">
        <!-- Mobile menu button -->
        <button data-action="click->navbar#toggle" type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <%# end Mobile Nav button %>

    </div>
  </div>



</nav>
