<%= turbo_frame_tag 'aviaries' do %>
  <div class="min-w-full">
    <table class="mi_table">
      <thead class="border border-l-0 border-r-0 border-gray-750">
        <tr>
          <th class="header_th"><%= t('activerecord.attributes.aviary.name') %></th>
          <th class="header_th"><%= t('activerecord.attributes.aviary.description') %></th>
          <th class="header_th"><%= t('activerecord.attributes.aviary.sections') %></th>
          <th class="header_th"><%= t('forms.buttons.edit') %></th>
          <th class="header_th"><%= t('forms.buttons.delete') %></th>
        </tr>
      </thead>
      <tbody>
        <% @aviaries.each do |aviary| %>
          <rt>
            <td class="mi_tbody_td">
              <%= link_to aviary.name, aviary_path(aviary), data: { turbo_frame: "_top" }, class: "link_to" %>
            </td>
            <td class="mi_tbody_td">
              <%= aviary.description %>
            </td>
            <td class="mi_tbody_td">
              <%= show_boolean(aviary.has_sections) %>
            </td>
            <td class="mi_tbody_td">
              <%= link_to edit_aviary_path(aviary), data: { turbo_frame: "_top" }, aria: { label: "#{dom_id(aviary)}_edit" } do%>
              <i class="fa fa-pencil text-950"></i>
              <% end %>
            </td>
            <td class="mi_tbody_td">
              <%= link_to aviary_path(aviary), data: { turbo_confirm: t('text.Are you sure?'), turbo_method: :delete}, aria: { label: "#{dom_id(aviary)}_delete" }  do %>
                <i class="fa fa-trash-can text-red-950"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
