<div id="<%= dom_id aviary %>">
  <div class="">
    <div class="py-2">
      <p class="body-lg-bold-text inline">
        <%= t('activerecord.attributes.aviary.name') %>:
      </p>
      <p class="body-lg-text pl-2 inline">
        <%= aviary.name %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        <%= t('activerecord.attributes.aviary.description') %>:
      </p>
      <p class="body-lg-text pl-2 inline">
        <%= aviary.description %>
      </p>
    </div>
  </div>
  <% if aviary.has_sections %>
    <h2 class="my-2"><%= t('text.Sections') %>:</h2>
    <%= turbo_frame_tag 'new_section_form' do %>
      <%= render "aviaries/sections/form", section: Section.new %>
    <% end %>
  
    <%#= turbo_stream_from @aviary, :sections %>

    <%= render "aviaries/sections/sections_list", sections: @sections %>
  <% end %>

</div>
