<%= form_with(model: aviary, class: "contents") do |form| %>
  <% if aviary.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(aviary.errors.count, "error") %> prohibited this aviary from being saved:</h2>

      <ul>
        <% aviary.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :has_sections %>
    <%= form.checkbox :has_sections, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "input_text_fieldl" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.textarea :description, rows: 4, class: "input_text_fieldl" %>
  </div>

  <div class="inline">
    <%= form.submit class: "primary_button" %>
  </div>
<% end %>
