<div class="mx-auto w-full">
  <div class="grid grid-cols-1 lg:grid-cols-2 items-center">
    <h1><%= t('text.Aviary') %></h1>
    <div class="lg:grid lg:justify-items-end">
      <%= link_to t('forms.buttons.edit'), edit_aviary_path(@aviary), class: "primary_button mb-2" %>
      <div class="mt-2">
        <%= link_to aviary_path(@aviary), data: { turbo_confirm: 'Are you sure?', turbo_method: :delete} do %>
          <span class="tertiary_button">
            <i class="fa fa-times" aria-hidden="true"></i>
            <%= t('forms.buttons.delete') %>
          </span>
        <% end %>
      </div>
      <%= link_to aviaries_path do %>
        <span class="tertiary_button">
          <i class="fa-solid fa-arrow-left" aria-hidden="true"></i>
          <%= t('forms.buttons.back') %>
        </span>
      <% end %>
    </div>
  </div>
  <div class="">
    <%= render @aviary %>
  </div>
</div>
